.comp-finList-box {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 17px;
  color: #d5dadd;
  background: #2C2E52;
}

.finlist-header {
  width: 100%;
  display: flex;
}

.more-ico {
  opacity: .3;
  border: 1px solid #4a4f81;
  border-radius: 50%;
  margin-top: 6px;
}

.toggle-click-open {
  width: 300px;
  justify-content: space-between;
}

.finList-title {
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 50px;
}


.finList-title span {
  font-size: 16px;
  font-weight: 400;
  color:rgb(153, 159, 189);

}

.finList-total {
  display: block;
  font-weight: 200;
  font-size: 15px;
  color: #a3b3bd;
}

.finList-total span {
  color: #cf6d7e;
  font-weight: 600;
}

.finlist-invites-check {
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  color: #789c8d;
}

.finlist-owner {
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  color: #789c8d;
}


