
/* блоки с выборами вариантов действий */
.operation-add-movements,
.operation-share-setting,
.operation-delete-fl {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.operation-delete-fl {
  margin-top: 100px;
  border-top: 1px solid #6e4048;
  height: 50px;
}

/* стили для блока Details */

.operation-details {
  margin-top: 15px;
  display: none;
}

.details-list {
  text-align: left;
}

.property {
  margin-left: 34px;
  color: #84889b;
  margin-top: 10px;
}

.property span {
  margin-top: 2px;
  display: block;
  color: #fff;
}


/* боксы с конкретными экшенами */
.box-operations-add-movements,
.box-operations-share {
  display: none;
  position: relative;
  height: 300px;
}


/* Стили для title блока с конкретными действиями */
.back-from-sharing .box-title {
  margin-left: 60px;
}

/* контейнер объединения иконки и названия пункта в блоке с возможными операциями с ФЛ */
.ico_img_group {
  display: flex;
  align-items: center;
}






