.accumulate-number {
  font-size: 30px;
  margin-bottom: 4px;
  display: inline-block;
  position: relative;
}

.accumulate-number span {
  font-size: 12px;
  color: #a3b3bd;
  position: absolute;
  top: -2px;
  right: -10px;
} 

.accumulate-title {
  font-size: 15px;
  color: #a3b3bd;
  opacity: .6;
}

